.hotspot-button--story-container {
  width: 95vw;
  height: 100vh;
  padding: 1rem;
  transition: background-color 200ms;
}

.hotspot-button__btn {
  cursor: pointer;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 57%, 0.35);
  border-radius: 100px;
  transition: all 200ms;
}

.hotspot-button__btn:hover {
  border-color: hsla(0, 0%, 100%, 1);
  transform: scale(1.2);
}

.hotspot-button__btn:hover > .hotspot-button__icon {
  border-color: hsla(0, 0%, 100%, 1);
}

.hotspot-button__btn:hover > .hotspot-button__circle {
  background-color: hsla(0, 0%, 100%, 1);
}

.hotspot-button__circle {
  width: 70%;
  height: 70%;
  box-sizing: content-box;
  border-style: solid;
  border-width: 4px;
  border-color: hsla(0, 0%, 57%, 0.35);
  border-radius: 100px;
  background-color: hsla(0, 0%, 100%, 0.34);
  transition: all 200ms;
}

.hotspot-button__icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: hsla(0, 0%, 100%, 0.7);
  transition: all 200ms;
}

.hotspot-button__icon::before,
.hotspot-button__icon::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: black;
  opacity: 1;
  transition: all 200ms;
}

.hotspot-button__icon::after {
  transform: rotate(90deg);
}

.hotspot-button__checkbox {
  display: none;
}

.hotspot-button__checkbox:checked + .hotspot-button__btn {
  border-color: hsla(0, 0%, 100%, 1);
  transform: scale(0.6);
}

.hotspot-button__checkbox:checked + .hotspot-button__btn > .hotspot-button__circle {
  background-color: hsla(0, 0%, 100%, 1);
}

.hotspot-button__checkbox:checked + .hotspot-button__btn .hotspot-button__icon {
  border-color: hsla(0, 0%, 100%, 1);
}

.hotspot-button__checkbox:checked + .hotspot-button__btn .hotspot-button__icon::after {
  opacity: 0;
}

.hotspot-button--custom {
  cursor: pointer;
  display: block;
  min-width: 2rem;
  min-height: 1.5rem;
}

.hotspot-button--custom > * {
  pointer-events: none;
}
